/* CSS variables */
:root {
	--pale-blue: #2563eb;
	/* Dark mode custom colors */
	--dark-fg: #f0f0f0;
	--dark-bg: #0a0a0a;
}

html {
	font-family: sans-serif;
	max-width: 800px;
	margin: auto;
}

@media (prefers-color-scheme: dark) {
	html {
		color: var(--dark-fg);
		background-color: var(--dark-bg);
	}
}

nav {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	padding-bottom: 0.1rem;
	border-style: none none solid none;
	border-width: 0.15rem;
}

@media (max-width: 360px) {
	nav {
		flex-direction: column;
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.25rem;
	margin-top: 3rem;
}

a.nav {
	color: black;
	text-decoration: none;
}

a.nav:hover {
	text-decoration: underline;
}

a.nav:visited {
	color: black;
}

a.nav-home {
	font-size: 1.5rem;
	font-weight: bold;
	margin-right: auto;
}

a.nav-link {
	font-size: 1.25rem;
	display: flex;
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	a.nav {
		color: var(--dark-fg);
	}
	a.nav:visited {
		color: var(--dark-fg);
	}
}

a {
	color: var(--pale-blue);
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: MediumBlue;
}

@media (prefers-color-scheme: dark) {
	a {
		color: DodgerBlue;
	}
	a:visited {
		color: var(--pale-blue);
	}
}
